:root {
	--theme-background: 3,3,3;
	--theme-content: 16,16,16;
	--theme-content-highlight: 40,40,40;
	--theme-text: 155,155,155;
	--theme-row-selected: 40,40,40;
	--theme-row-highlight: 28,28,28;
	--theme-item-text: 217,141,0;
	--theme-item-text-hover: 255,183,50;
	--theme-tab-selected: 32,32,32;
}

body {
	color: rgb(var(--theme-text));
}

#title-img {
	width: 42px;
	height: 42px;
}

.content-wrapper {
	background: rgb(var(--theme-content));
}

#mainNav.navbar-dark,
.navbar-collapse,
.navbar-sidenav,
.sidenav-toggler,
.bg-dark,
footer.sticky-footer {
	background: rgb(var(--theme-background)) !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border: none;
}

a {
	color: rgb(var(--theme-item-text));
}

a:hover {
	color: rgb(var(--theme-item-text-hover));
}

.form-control, .form-control:focus {
	color: rgb(var(--theme-text));
	background-color: rgb(var(--theme-content-highlight));
	border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: rgb(var(--theme-text));
	background-color: rgb(var(--theme-tab-selected));
	border: none;
}

/* Autocomplete Form */

.ui-menu {
	z-index: 2000;
}

.ui-menu-item {
	background-color: rgb(var(--theme-content-highlight));
	color: rgb(var(--theme-text));
}

/* General Use */
.no-margin { margin: 0px; }
.no-padding { padding: 0px; }
.no-padding-left { padding-left: 0; }
.no-border { border: 0px; }
.border { border: 1px solid #ddd; }
.tab-border { border: 0px; }

/* Tables */
table.dataTable td,
table.dataTable th {
	padding: 0.1rem 0.25rem;
	color: rgb(var(--theme-text));
	border-top: none;
	font-size: 13px;
}

.table td,
.table th {
	border-top: 0;
}

tr.selected {
	background-color: rgb(var(--theme-row-selected)) !important;
}

tr.highlight {
	background-color: rgb(var(--theme-row-highlight)) !important;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
	color: rgb(var(--theme-item-text)) !important;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::before,
table.dataTable thead .sorting_desc_disabled::after {
	bottom: 0.2em !important;
}

.input-group-text {
	color: rgb(var(--theme-text));
	background-color: rgb(var(--theme-row-highlight));
	border: none;
}

.dataTables_wrapper {
	padding: 0;
}

#sellorders {
	margin: 0 !important;
}

#buyorders {
	margin: 0 !important;
}

.nav-link {
	color: inherit;
}

.nav-link:hover {
	color: white;
}

/* Market Browser Menu */

.card {
	background: #747a80;
	border-color: #343a40;
}

.card-header {
	color: rgb(var(--theme-text));
	background: #343a40;
	padding: .2rem .5rem;
}

.card-footer {
	color: rgb(var(--theme-text));
	background: #343a40;
	padding: .2rem .5rem;
}

.card-body {
	background: #747a80;
	padding: 0.2rem;
}

.page-link {
	color: #fff;
	background-color: #343a40;
	border: 1px solid #343a40;
}

.page-item.active .page-link {
	color: #fff;
	background-color: #545a60;
	border-color: #343a40;
}

.page-item.disabled .page-link {
	color: #6c757d;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-primary {
	color: #62abff;
	background-color: #343a40;
	border-color: #343a40;
}

.browse-card-header {
	padding: 0;
	overflow: hidden;
}

.browse-card-body {
	padding: 0rem 0rem 0rem .5rem;
	overflow: hidden;
}

.browse-btn {
	padding: 0rem 0.5rem;
	color: #858e96;
	text-decoration: none !important;
}

.market-item {
	color: #141a20;
}

.chart-card-body {
	background: rgb(var(--theme-background));
}

/* SBAdmin Overrides */

#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
	padding: 0.5em 1em;
}
